title= "upro"

extends layout

block title
   title="upro :: login"

block pre-scripts
   link(rel='stylesheet', href='/stylesheets/style.css')

block content
   if message
      div(class="message")
         if (message == 'loginFailed')
            p
               | Login request failed. Please verify your credentials and try again. The key must be of type
               | Character and be for one character only. The access mask must be 0.
         else if (message == 'notTrusted')
            p
               | No trusted headers received from the browser. IGB might not be configured to trust this site.
               | It is highly recommended to do so. See Options -> Trusted Sites and make sure this site is trusted. 
         else if (message == 'noSsl')
            p
               | You are not connecting via a secure connection. Your key and all further information will be transmitted
               | as plain text over the network. If you do not desire this, make sure 'https' is used in the URL. 
         else
            p #{message}

   div(class="login")
      h2 EVE API Key
      form(method='post', action='/login')
         table
            tr
               td(class="label")
                  label(for="keyId")
                     a(href="http://support.eveonline.com/api/Key/Create", title="Create one here") keyID:
               td(class="input")
                  input(type='text', name='keyId', required=true, class="keyId")
            tr
               td(class="label")
                  label(for="vCode") vCode:
               td(class="input")
                  input(type='password', name='vCode', required=true, class="vCode")
            tr
               td(class="label")
               td(class="input")
                  input(type='submit', value='Log In', class="submit")
   div(class="disclaimer")
      p
         | This service is provided free of charge to pilots of 
         a(href="http://www.eveonline.com/") New Eden
         |. It is using cookies to provide its functionality.
      p
         | THE SERVICE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
         | INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
         | PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
         | FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
         | ARISING FROM, OUT OF OR IN CONNECTION WITH THE SERVICE OR THE USE OR OTHER DEALINGS IN THE SERVICE.
      p  This is a Minmatar production.